django==5.2.*
django-debug-toolbar==5.2.*
djangorestframework==3.17.1
Pillow==12pyth.2.*
environs[django]==14.2.*
django-phonenumber-field==8.0.0
phonenumberslite==9.0.3
python-dotenv==1.2.2
requests==2.34.2
geopy==2.4.1
